@font-face {
    font-family: 'londrina-regular';
    src: url('../fonts/LondrinaSolid-Regular.ttf');
}
@font-face {
    font-family: 'londrina-black';
    src: url('../fonts/LondrinaSolid-Black.ttf');
}

@font-face {
    font-family: 'londrina-light';
    src: url('../fonts/LondrinaSolid-Light.ttf');
}

/*Corpo do site*/
body {
    background-color: black;
    padding: 0%;
    margin: 0%;
    font-family: 'londrina-light';
    color: white;
}

h1, h2{
    font-family: 'londrina-light';
    text-align: center;
}

img{
    width: 20%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

/* Alinhamento do texto */
.alinhar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}


/* Linha separatória vermelha */
hr{
    height: 2px;
}



/* Footer da Pagina */
footer {
    background-color: #B20E0E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

footer h3 {
    color: white;
    font-family: 'londrina-light';
}

