@font-face {
    font-family: 'londrina-regular';
    src: url('../fonts/LondrinaSolid-Regular.ttf');
}
@font-face {
    font-family: 'londrina-black';
    src: url('../fonts/LondrinaSolid-Black.ttf');
}

@font-face {
    font-family: 'londrina-light';
    src: url('../fonts/LondrinaSolid-Light.ttf');
}

/*Corpo do site*/
body {
    background-color: black;
    padding: 0%;
    margin: 0%;
    font-family: 'londrina-light';
}

h1, h2{
    font-family: 'londrina-light';
    text-align: center;
}






main{
    h1,h2,h3, li{
        color: white;
    }

    h1{
        margin-top: 10px;
    }
    
    img{
    width: 20%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
}


/* Linha separatória vermelha */
hr{
    background-color: #B20E0E !important;
    color: #B20E0E;
    height: 6px;
}

.custom-navbar {
  background-color: #B20E0E;
  position: relative;
}

.custom-navbar .nav-link {
  color: white !important;
}

.custom-navbar .nav-link:hover {
  color: #ddd !important; /* opcional para hover */
}

.navbar{
    .container-fluid{
        background-color: #B20E0E;
    }

    #menuPokemon{
        font-family: 'londrina-light' !important;
        font-size: 1.5rem;
        font-weight: 200;
    }

    
}


/*CSS DA HEADER E DO RODAPE*/

.navbar-nav {
  text-align: center;
}


.pokeball-button {
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  outline: none;
  transition: border 0.2s ease;
}

.pokeball-button:focus,
.pokeball-button:active {
  border: 1px solid rgba(0, 0, 0, 0.01);
  outline: none;
}


#bodytodo{
    background-color: #000000;
    width: 100%;
    font-family: 'londrina-regular';
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}


/* Footer da Pagina */
footer {
    background-color: #B20E0E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

footer h3 {
    color: white;
    font-family: 'londrina-light';
}




@media (max-width: 768px){
    
  main img {
        width: 80%;
        height: auto;
    }
    
    main{
        text-align: center;
    }
    h3{
        padding: 10px;
    }
       h1, h2 {
        font-size: 1.5rem;
        padding: 0 10px;
    }

    main {
        li {
        font-size: 1rem;
        padding: 0 10px;
        text-align: center;
        list-style-position:inside;
        margin-right: 40px !important;
    }
    }
    
    

    footer {
        flex-direction: column;
        padding: 1rem;
    }

    /* Ajuste da navbar */
    .navbar-nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    .custom-navbar .nav-link {
        font-size: 1.5rem;
    }

    #menuPokemon {
        font-size: 1.5rem;
    }
}



.pokebola {
      cursor: pointer;
      transition: transform 1s;
    }

    .spin-cw  { 
      transform:rotate( 360deg); 
    }
    .spin-ccw { 
      transform:rotate(-360deg); 
    }