@font-face {
    font-family: 'londrina-regular';
    src: url('../fonts/LondrinaSolid-Regular.ttf');
}
@font-face {
    font-family: 'londrina-black';
    src: url('../fonts/LondrinaSolid-Black.ttf');
}



*{
    margin: 0;
}

body{
    background-color: #000000;
}
header{
    background-color: #B20E0E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeheader{
    margin: 5px;
    width: 68px;
    height: 70px;
}

.faixa-principal{
    background-image: url('../img/fundoLanding.png');
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h1{
        color: white;
    }

    .introducao{

        width: 46vw;    
        align-items: center;
        text-align: center;
        flex-direction: column;
        height: 40rem;
        padding: 10rem 0rem;

        h1 {
                color: #fff;
                font-family: 'londrina-regular';
                line-height: 5rem;
                font-size: 6rem;
                font-weight: 400;

        }
        .mestre-introducao {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;

            h2{ 
                color: #fff;
                font-family: 'londrina-regular';
                line-height: 8rem;
                font-size: 3rem;
                font-weight: 400;
            }

            img{
                width: 11.6rem;
                height: 5rem;
            }

        }

        button{
            background-color: #B20E0E;
            padding: 1.3rem 6rem;
            font-size: 2rem;
            color: white;
            font-family: 'londrina-regular';
            border-radius: 30px;
            box-shadow: none;
        }
        button:hover{
            cursor: pointer;
        }
            
    }

    hr{
        color: #B20E0E;
    }
}







footer{
    background-color: #B20E0E;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        color: white;
        font-family: 'londrina-regular';
        padding: 10px;
    }
}