@font-face {
    font-family: 'londrina-regular';
    src: url('../fonts/LondrinaSolid-Regular.ttf');
}
@font-face {
    font-family: 'londrina-black';
    src: url('../fonts/LondrinaSolid-Black.ttf');
}
@font-face {
    font-family: 'londrina-light';
    src: url('../fonts/LondrinaSolid-Light.ttf');
}

@font-face {
    font-family: 'tiny5';
    src: url('../fonts/Tiny5-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bodytodo {
    background-color: #000000;
    font-family: 'londrina-regular', sans-serif;
    width: 100%;
    min-height: 100vh;
    padding: 0px;


    hr{
        background-color: #B20E0E;
        height: 6px;
    }
}

.faixa-principal {
    background-image: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 5px solid #B20E0E;
    height: 53rem;
}

.introducao {
    width: 90%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding-top: 5rem;
    color: white;

    button {
    background-color: #B20E0E;
    padding: 1rem 4rem;
    font-size: 1.5rem;
    color: white;
    border-radius: 30px;
    margin-top: 2rem;
    border: none;
    cursor: pointer;
}

.mestre-introducao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 1rem;

    .logo-pokemon {
    width: 11.6rem;
    height: auto;
}
}
}

.introducao h1 {
    font-size: 5rem;
    line-height: 4rem;
}



.mestre-introducao h2 {
    font-size: 3rem;
}





footer {
    background-color: #B20E0E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

footer h3 {
    color: white;
    font-family: 'londrina-light';
}

.curiosidade, .origem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: white;
    text-align: center;
}

.curiosidade h1, .origem h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.curiosidade p, .origem p {
    font-size: 2rem;
    max-width: 900px;
}

.texto-curiosidade {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    gap: 3rem;
}

.texto-origem{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
}

.texto-curiosidade img, .texto-origem img {
    max-width: 30%;
    height: auto;
}

.faixa-iniciais {
    background-color: #B20E0E;
    text-align: center;
    padding: 1rem;
}

.faixa-iniciais h1 {
    font-size: 2.5rem;
    color: white;
}

.iniciais h1 {
    color: white;
    padding: 1rem;
    font-size: 3rem;
    margin: auto;
    text-align: center;
}

.custom-navbar {
  background-color: #B20E0E;
  position: relative;
}

.custom-navbar .nav-link {
  color: white !important;
}

.custom-navbar .nav-link:hover {
  color: #ddd !important;
}

.navbar{
    .container-fluid{
        background-color: #B20E0E;
    }

    #menuPokemon{
        font-family: 'londrina-light';
        font-size: 1.5rem;
    }

    
}



.navbar-nav {
  text-align: center;
}


.pokeball-button {
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  outline: none;
  transition: border 0.2s ease;
}

.pokeball-button:focus,
.pokeball-button:active {
  border: 1px solid rgba(0, 0, 0, 0.01);
  outline: none;
}



.carousel-item {
    font-family: 'tiny5';
    .card img{
        height: 10rem;
        width: 9rem;
    }
}

.card img {
  max-width: 100%;
  max-height: 100%;
  margin: 10px;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(0, 0, 0, 0.18);
  border: none;
  border-radius: 0;
  width: auto;
  display: flex !important;
  align-items: center !important;
  background-color: #000000 !important;

  h5{
    color: white;
  }

  .card-body{
    text-align: center;
    width: 100%;
  }

  .card-title{
    margin: auto;
  text-align: center;
  width: 100%;
  }
}

.carousel-inner, .carousel-item {
  padding: 1em;
  position: relative;
}

.carousel-inner{
    .card img{
        margin-left: 40px !important;
    }
}

section.iniciais {
  position: relative;
  min-height: 300px; 
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;

  z-index: 2;
  background-color: transparent;
  border: none;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-prev img,
.carousel-control-next img {
  width: 3rem;
  height: auto;
}

.card{
  h5{
    font-size: 1.5rem;
    white-space: nowrap;
  }
}


.carousel {
  position: relative;
}

@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}


@media (max-width: 768px) {
    .faixa-principal {
        flex-direction: column;
        height: auto;
        padding: 2rem 0;

        img{
            max-width: 30%;
            margin-bottom: 10px;
        }

    }

    .introducao h1 {
        font-size: 2.5rem;
    }

    .mestre-introducao h2 {
        font-size: 1.5rem;
    }
    

    button {
        padding: 1rem 2rem;
        font-size: 1.2rem;
    }

    .curiosidade p, .origem p {
        font-size: 1.2rem;
        padding: 0 1rem;
    }

    .texto-curiosidade img, .texto-origem img {
    max-width: 50%;
    height: auto;
}

.texto-curiosidade {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.texto-origem{
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}


.carousel-control-prev,
.carousel-control-next {
  display: flex;
  justify-content: center;

  img{
    width: 4rem;
  }
}

.carousel-control-next{
    margin-right: 10px;
}

.card{
    width: 150px;
}

}


@media (max-width: 768px) {
  .cards-wrapper {
    display: grid !important;
    grid-template-columns: 48% 48%;
    justify-content: center;
    gap: 10px;
  }

  .cards-wrapper .card {
    width: 100% !important;
    margin: 0 auto !important;
  }

  .cards-wrapper .card:nth-child(3) {
    grid-column: 1 / span 2;
    justify-self: center;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .card-title {
    font-size: 1rem;
  }

  .card {
    max-width: 140px;
  }
}

@media (max-width: 576px) {
  .card {
    max-width: 120px;
  }

  .card img {
    height: 8rem;
    width: auto;
  }

  .card-title {
    font-size: 1rem;
  }
}


.cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 2rem;
}


/*Pokebola Girar */

.pokebola {
      cursor: pointer;
      transition: transform 1s;
    }

    .spin-cw  { 
      transform:rotate( 360deg); 
    }
    .spin-ccw { 
      transform:rotate(-360deg); 
    }