@font-face {
    font-family: 'londrina-regular';
    src: url('../fonts/LondrinaSolid-Regular.ttf');
}
@font-face {
    font-family: 'londrina-black';
    src: url('../fonts/LondrinaSolid-Black.ttf');
}

@font-face {
    font-family: 'londrina-light';
    src: url('../fonts/LondrinaSolid-Light.ttf');
}



*{
    margin: 0;
}


.custom-navbar {
  background-color: #B20E0E;
  position: relative;
}

.custom-navbar .nav-link {
  color: white !important;
}

.custom-navbar .nav-link:hover {
  color: #ddd !important; /* opcional para hover */
}

.navbar{
    .container-fluid{
        background-color: #B20E0E;
    }

    #menuPokemon{
        font-family: 'londrina-light';
        font-size: 1.5rem;
    }

    
}


/*CSS DA HEADER E DO RODAPE*/

.navbar-nav {
  text-align: center;
}


.pokeball-button {
  border: 2px solid rgba(0, 0, 0, 0.3) !important;
  background: transparent;
  outline: none;
  transition: border 0.2s ease;
}

.pokeball-button:focus,
.pokeball-button:active {
  border: 1px solid rgba(0, 0, 0, 0.01);
  outline: none;
}


#bodytodo{
    background-color: #000000;
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
   

}

footer{
    background-color: #B20E0E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h3{
        color: white;
        font-family: 'londrina-light';
        padding: 10px;
    }
}

/* ----------- SOBRE NÓS ----------- */

.sobre-nos {
    font-family: 'londrina-regular';
    color: white;
}

.titulo-sobre {
    font-family: 'londrina-black';
    color: #B20E0E;
    font-size: 3rem;
}

.subtitulo-sobre {
    font-size: 1.2rem;
    font-family: 'londrina-light';
}

.img-jogador {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #707070;
}

.nome-jogador {
    margin-top: 15px;
    font-size: 1.5rem;
    font-family: 'londrina-black';
    color: white;
    -webkit-text-stroke-width: 1.2px;
}

.tipo-eletrico {
    -webkit-text-stroke-color: #812525;
}

.tipo-fogo {
    -webkit-text-stroke-color: #112070;
}

.tipo-planta {
    -webkit-text-stroke-color: #356e14;
}

.descricao-jogador {
    font-size: 1rem;
    font-family: 'londrina-light';
    padding: 0 15px;
}

.texto-final {
    font-size: 1.1rem;
    margin-top: 30px;
    font-family: 'londrina-light';
}

.frase-final {
    font-weight: 'londrina-regular';
    color: #B20E0E;
    font-family: 'londrina-regular';
    margin-top: 10px;
}

/*Pokebola Girar */

.pokebola {
      cursor: pointer;
      transition: transform 1s;
    }

    .spin-cw  { 
      transform:rotate( 360deg); 
    }
    .spin-ccw { 
      transform:rotate(-360deg); 
    }