@font-face {
    font-family: 'londrina-regular';
    src: url('../fonts/LondrinaSolid-Regular.ttf');
}
@font-face {
    font-family: 'londrina-black';
    src: url('../fonts/LondrinaSolid-Black.ttf');
}

@font-face {
    font-family: 'londrina-light';
    src: url('../fonts/LondrinaSolid-Light.ttf');
}

@font-face {
    font-family: 'tiny5';
    src: url('../fonts/Tiny5-Regular.ttf');
}

*{
    margin: 0;
}


.custom-navbar {
  background-color: #B20E0E;
  position: relative;
}

.custom-navbar .nav-link {
  color: white !important;
}

.custom-navbar .nav-link:hover {
  color: #ddd !important; /* opcional para hover */
}

.navbar{
    .container-fluid{
        background-color: #B20E0E;
    }

    #menuPokemon{
        font-family: 'londrina-light';
        font-size: 1.5rem;
    }

    
}


/*CSS DA HEADER E DO RODAPE*/

.navbar-nav {
  text-align: center;
}


.pokeball-button {
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  outline: none;
  transition: border 0.2s ease;
}

.pokeball-button:focus,
.pokeball-button:active {
  border: 1px solid rgba(0, 0, 0, 0.01);
  outline: none;
}


#bodytodo{
    background-color: #000000;
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'londrina-regular';


    .tabela table td img {
    max-width: 50px;
    height: auto;
}
        h1{
            color: white;
            margin-top: 2rem;
        }

        .tipos{
            color:white;
        }
        hr {
            height: 6px;
            border: none;
            background-color: #B20E0E;
            width: 100%;
        }   

        .tabela-secao h1{
            font-weight: 300;
            margin-bottom: 10px;
        }
        .tabela-secao{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .tabela{
            color: white;
            font-size: 2rem;
            border: 2px solid #d32f2f;
            padding: 10px;
            overflow-x: auto;
            width: 100%;
            border-radius: 8px;
            background-color: #000000; 
            box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); 

            table{
                font-family: 'londrina-light';
                border-collapse: collapse;
                width: 100%;
                max-width: 100%;
                overflow-x: auto;
                table-layout: fixed;

                

                .tipo{
                border-bottom-left-radius: 1.3rem;
                border-top-left-radius: 0.3rem;
                }

                .fim {
                    border-bottom-right-radius: 1.3rem;
                    border-top-right-radius: 0.3rem;
                }


                tr:nth-child(odd){
                    background-color: #3B3939;
                }
                tr:nth-child(even){
                    background-color: #000000;
                }

                td img {
                width: 30px;
                height: 30px;
                }

                td{
                    text-align: center;
                }

                .tipo-foto img{
                    width: 50px;
                    height: 50px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }


                .tres {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 4px;
                       padding-top: 10px;
                       padding-bottom: 10px;
                }

                .primeiros{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        gap: 5px;
                }
                .cinco {
                padding-top: 5px;
                    .tres-embaixo{
                        margin-top: -15px;
                    }
                }

                .quatro{
                    padding-top: 5px;
                    .dois-embaixo{
                        margin-top: -10px;
                    }
                }
                
                .dois-tres{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                }

                .dois{
                    padding-top: -510px;
                }
                
                .coluna-de-icones {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;
                margin-top: 10px;
                margin-bottom: 10px;
                }

                .linha-de-icones {
                display: flex;
                gap: 5px;
                justify-content: center;
                }

            
        

            }

            thead {
                

                th {
                    height: 3.5rem;
                    font-weight: 100;
                    text-align: center;
                    background-color: #B20E0E;
                    padding-bottom: 0.5rem;
                }

            }
        }

}

footer{
    background-color: #B20E0E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h3{
        color: white;
        font-family: 'londrina-light';
        padding: 10px;

    }
}




.carousel-item {
    font-family: 'tiny5';
    .card img{
        height: 10rem;
        width: 9rem;
    }
}

.card img {
  width: 100%;
  max-width: 80px;
  height: 80px !important;
  margin: auto;
  display: block;
  margin: 10px;
}

.card {
  margin: 0 0.5em;
  box-shadow: none;
  border: none;
  padding: 10px;
  border-radius: 0;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  background-color: #000000 !important;
  white-space: nowrap;


  h5{
    color: white;
    font-size: 1.4rem;
  }

  .card-body{
    text-align: center;
    width: 100%;
  }

  .card-title{
    margin: auto;
  text-align: center;
  width: 100%;
  }
}

.carousel-inner, .carousel-item {
  padding: 1em;
  position: relative;
}



section.tipos {
  position: relative;
  padding: 0 1rem;
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;

  z-index: 10;
  background-color: transparent;
  border: none;
  width: auto;
}

.carousel-control-prev {
  transform: translateX(-30%);
  left: 0;
}

.carousel-control-next {
  right: 0;
  transform: translateX(30%);
}
.carousel-control-prev img,
.carousel-control-next img {
  width: 3rem;
  height: auto;
}



.carousel {
  position: relative;
}





@media (max-width: 576px) {
  

  /*RESPONSIVIDADE TABELA */
  .tabela table {
    font-size: 1rem;
  }

  .tabela table td img{
    width: 20px !important;
    height: 20px !important;
  }

  .tabela table .tipo-foto img {
    width: 30px !important;
    height: 30px !important;
  }

  .tabela table th {
    font-size: 1rem;
    padding: 6px;
  }

  .tabela {
    padding: 5px;
  }


  .primeiros,
  .tres-embaixo,
  .dois-embaixo,
  .linha-de-icones {
    gap: 5px !important;
  }

  .dois-embaixo, .tres-embaixo{
    margin-top: 0 !important;
  }
}







